
@media (max-width: 1520px){
    .banner{
        background: url("images/banner/9.png");
    }
    .prizes{
        /*position: initial;*/
        left: 40%;
        bottom: -181%;
    }
    .button{
        /*left: 50%;*/
    }
    #wrapper{
        margin: 15% 10% 65% 36%;
        width: 465px;
    }
    #spin{
        margin: -7% -12%;
    }
    .textToSpin{
        left: 16%;
    }
    .prizes{
        left: -10%;
    }
}




@media (max-width: 1000px){
    .banner{
        height: 50vh;
        background: url("images/banner/9.png");
    }

    .bannerLogo{
        right: 8%;
    }
    .bannerText{
        display: flex;
        justify-content: center;
        top: 50%;
        right: 7%;
    }
    .button{
        left: 40%;
        top: 75%;
        width: 200px;
        height: 75px;
    }

    #wrapper{
        margin: 30% 10% 100% 28%;
        width: 465px;
    }

    #fortune-wheel{
        width: 450px;
        height: 450px;
    }
    #fortune-wheel::before{
        width: 440px;
        height: 440px;
    }
    #fortune-wheel div.sec{
        width: 42px;
        border-width: 213px 136px 0;
        transform-origin: 157px 248px;
        left: 67px;
        top: -5%;
    }

    span.fa.discount1{
        margin-top: -112px !important;
        font-size: 23px !important;
        margin-left: -36px !important;
        width: 101px;
    }
    span.fa.discount2{
        margin-left: -78px !important;
        margin-top: -132px !important;
        width: 175px;
        font-size: 23px !important;
    }
    span.fa.discount3{
        font-size: 23px !important;
        width: 100px;
    }
    span.fa.discount4, span.fa.discount5, span.fa.discount6{
        font-size: 23px !important;

    }



    #spin{
        left: 53%;
        top: 49%;
        width: 82px;
        height: 82px;

    }

    #spin::before{
        top: -15px;
        left: 20px;

    }


    .textToSpin{
        top: -50%;
        left: 19%;

    }

    .prizes{
        /*position: initial;*/
        left: -24%;
        bottom: -185%;
        width: 150%;
        height: 740px;
    }
    .prize-descrip{
        font-size: 20px;
    }

    .fa-instagram, .fa-facebook-f{
        font-size: 42px;
        left: 40%;
    }
}

