html, body{
    margin: 0;
    background: #cccccc;
    font-family: 'Montserrat', sans-serif;
}



.header-img{
    position: relative;
    background-repeat: no-repeat !important;
    background-attachment: fixed !important;
}
/*
.header-img::after{
    background: transparent;
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.1) 100%);
    background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.1) 100%);
    content: "";
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0px;
    width: 100%;
}
*/
.banner{
    background: url("images/banner/8.png");
    width: 100%;
    height: 100vh;
}



/*.logo{*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    !*padding: 40px 100px 0 0;*!*/

/*}*/

.bannerLogo{
    display: flex;
    justify-content: right;
    position: absolute;
    top: 8%;
    right: 4%;
    width: 80%;
    height: 40%;

}

.bannerText{
    font-size: 2em;
    color: #ffffff;
    display: flex;
    justify-content: right;
    position: absolute;
    top: 55%; /*365*/
    right: 0%; /*0*/
    /*width: 700px;*/
    height: 45%;
    width: min(37%, 70.5rem);
    line-height: 3rem;
}

/*button 1*/
/*.button{
    width: 130px;
    height: 45px;
    background: none;
    color: rgb(44,44,44);
    border: none;
    cursor: pointer;
    font-weight: 700;
    font-size: 1.05rem;
    border-radius: 50px;
    background: #ffffff;
    box-shadow: 20px 20px 60px #d9d9d9,
    -20px -20px 60px #ffffff;
    position: relative;
    left: 75%;
}

.button::before{
    content: '';
    position: absolute;
    top: -10%;
    left: -5%;
    width: 110%;
    height: 120%;
    border-radius: 50px;
    z-index: -1;
    background: linear-gradient(45deg, #ffd800, #ff5520, #750cf2, #0cbcf2);
    transform: scale(0.8);
    transition: transform .4s;
}

.button::after{
    content: '';
    position: absolute;
    top: 0;
    left:0;
    right: 0;
    bottom: 0;
    background: linear-gradient(45deg, #ffd800, #ff5520, #750cf2, #0cbcf2);
    z-index: -2;
    filter: blur(10px);
    transform: scale(0.5);
    transition: transform .4s;
}

.button:hover::before, .button:hover::after{
    transform: scale(1);
}
*/




/*button 2*/

.button{
    width: 170px;
    height: 65px;
    left: 75%;
    position: relative;
    background: rgba(255, 255, 255, 0.068);
    font-size: 1.5rem;
    /*border: none;*/
    color: white;
    outline: none;
    cursor: pointer;
    border: 1px solid #ffffff2e;
    z-index: 10;
    transition: all 0.4s;
    font-family: "Gotham Pro", sans-serif;
    border-radius: 20px;
}

.button:hover{
    backdrop-filter: blur(10px);
    box-shadow: 0px 10px 20px rgba(221, 42, 27);
}

a{
    text-decoration: none;
    font-family: "Gotham Pro", sans-serif;
    color: white;

}




.main-container{
    display: flex;
    justify-content: center;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: min(90%, 70.5rem);


}
.section{
    padding: 20px;
}

.text-banner{
    padding: 600px 0 0 0;
    font-size: 2em;
    height: 210px;
}

.text{
    padding: 130px 0 0 0;
    font-size: 2em;
    text-align: center;
}

.line::before{
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    position: relative;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.50);
    /*background-image: -webkit-linear-gradient(#000000, rgba(0,0,0,0));*/
    left: 50%;
    transform: translateX(-50%);
    margin-top: 100px;
}

/*.sticky-img{*/
/*    position: -webkit-sticky;*/
/*    position: sticky;*/
/*    top: 0px;*/
/*}*/


#wrapper{
    margin: 15% 19% ; /*40px auto 70px*/
    width: 416px;
    position: relative;

}

#fortune-wheel{
    width: 400px; /*250*/
    height: 400px;/*250*/
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    border: 8px solid #fff;
    box-shadow: rgb(0 0 0 / 20%) 0px 0px 10px, rgb(0 0 0 / 5%) 0px 3px 0px;
    transform: rotate(0deg);
}

#fortune-wheel div.sec{
    position: absolute;
    width: 27px;
    height: 0;
    border-style: solid;
    border-width: 187px 108px 0;
    border-color: #19c transparent;
    transform-origin: 120px 211px;
    left: 84px; /*50*/
    top: -10px;/*-4*/
    opacity: 1;
}


#fortune-wheel div.sec .fa{
    transform: rotate(-90deg);
    margin-top: -100px;
    position: relative;
    z-index: 10000000;
    display: block;
    text-align: center;
    font-size: 15px;
    margin-left: -15px;

}


#fortune-wheel::before{
    content: '';
    position: absolute;
    border: 4px solid rgba(0,0,0,0.1);
    width: 390px;
    height: 390px;
    border-radius: 50%;
    z-index: 1000;
    left: 1px;
    top: 1px;
}




#fortune-wheel div.sec:nth-child(1){
    -webkit-transform: rotate(60deg);
    -moz-transform: rotate(60deg);
    /*border-color: #832c54 transparent;*/
    border-color: #cb5f5f transparent;
}
#fortune-wheel div.sec:nth-child(2){
    -webkit-transform: rotate(120deg);
    -moz-transform: rotate(120deg);
    /*border-color: #627473 transparent;*/
    border-color: #03989e transparent;
}
#fortune-wheel div.sec:nth-child(3){
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    border-color: #a6bd48 transparent;
    /*border-color: #34495e transparent;*/
}
#fortune-wheel div.sec:nth-child(4){
    -webkit-transform: rotate(240deg);
    -moz-transform: rotate(240deg);
    /*border-color: #e7e3e3 transparent;*/
    border-color: #e9df0c transparent;
}
#fortune-wheel div.sec:nth-child(5){
    -webkit-transform: rotate(300deg);
    -moz-transform: rotate(300deg);
    /*border-color: #a85c7f transparent;*/
    border-color: #cb5f5f transparent;
}
#fortune-wheel div.sec:nth-child(6){
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    /*border-color: #293540 transparent;*/
    border-color: #daaf00 transparent;
}




span.fa.discount1{
    margin-top: -103px !important;
    font-size: 20px !important;
    margin-left: -32px !important;
    width: 80px;
}

span.fa.discount2{
    margin-left: -70px !important;
    margin-top: -120px !important;
    width: 153px;
    font-size: 20px !important;
}

span.fa.discount3{
    margin-top: -117px !important;
    font-size: 20px !important;
    margin-left: -38px !important;
    width: 95px;
    letter-spacing: 1px;
}

span.fa.discount4{
    margin-left: -25px !important;
    margin-top: -108px !important;
    width: 60px;
    font-size: 20px !important;
}

span.fa.discount5{
    margin-top: -115px !important;
    font-size: 20px !important;
    margin-left: -23px !important;
    width: 74px;
}

span.fa.discount6{
    margin-left: -25px !important;
    margin-top: -115px !important;
    letter-spacing: 1px;
    width: 70px;
    font-size: 20px !important;
}




#spin{
    width: 68px;
    height: 68px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -8% -7%; /*-34px 0 0 -34px*/
    border-radius: 50%;
    box-shadow: rgb(0 0 0 / 10%) 0 3px 0;
    z-index: 1000;
    background: #fff;
    cursor: pointer;
    visibility: visible;


}

#spin::before{
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 20px 28px 20px;
    border-color: transparent transparent #ffffff transparent;
    top: -12px;
    left: 14px;
}



.fa-play-circle{
    text-align: center;
    line-height: 68px;
    color: #a29e9e;
    position: relative;
    z-index: 100000;
    width: 68px;
    height: 68px;
    display: block;
    font-size: 27px;
    top: 26%;
    right: 12%;
    visibility: visible;

}

.fa-lock{
    text-align: center;
    line-height: 68px;
    color: #a29e9e;
    position: relative;
    z-index: 100000;
    width: 68px;
    height: 68px;
    display: block;
    font-size: 27px;
    top: -103%;
    right: 12%;
    visibility: hidden;

}


#inner-spin{
    width: 54px;
    height: 54px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -27px 0 0 -27px;
    border-radius: 50%;
    z-index: 999;
    box-shadow: rgb(255 255 255) 0px -2px 0px inset, rgb(255 255 255) 0px 2px 0px inset, rgb(0 0 0 / 40%) 0px 0px 5px;
    background: rgb(255,255,255);
    background: radial-gradient(ellipse at center, rgba(255,255,255,1) 0%,rgba(234,234,234,1) 100%);
}



.prizes{
    background: #141515;
    color: #ffffff;
    position: absolute;
    display: inline-block;
    justify-content: right;
    width: 120%;
    height: 620px;
    left: 170%;
    bottom: -20%;


}

li{
    list-style-type: none;
    margin-bottom: 2%;

}

.prize-descrip, h1{
    width: min(80%, 70.5rem);
    margin-left: 5%;
    /*font-size: 1.2em;*/
    letter-spacing: 1px;
    line-height: 1.5;

}

.line-2::before{
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    position: relative;
    /*bottom: 0;*/
    background-color: rgba(255,255,255, 0.70);
    /*background-image: -webkit-linear-gradient(#000000, rgba(0,0,0,0));*/
    left: 50%;
    transform: translateX(-50%);
    margin-top: 2%;
}



h4{
    margin-bottom: 0;
    display: inline;
}


.textToSpin{
    /*display: flex;*/
    /*justify-content: center;*/
    position: absolute;
    top: -55%;
    left: 21%;
    text-align: center;
    letter-spacing: 1px;
    line-height: 2;
    /*width: 10%;*/
    /*height: 60px;*/
}












.footer{
    width: 100%;
    height: 70px;
    background: #141515;
}

.fa-instagram, .fa-facebook-f{
    color: #cccccc;
    font-size: 30px;
    width: 68px;
    height: 68px;
    line-height: 68px !important;
    position: relative;
    display: inline-block !important;
    justify-content: center;
    left: 45%;
    /*padding: 0 40px 0 0 ;*/
    margin-left: 40px;

}

.fa-instagram:hover, .fa-facebook-f:hover{
    font-size: 35px;
    transition: 0.2s;
    color: #dd2a1b;
}

/*a{*/
/*    text-decoration: none;*/
/*}*/




@-webkit-keyframes spinRotation {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        transform: rotate(0deg);

    }
    100% {
        -webkit-transform: rotate(1822deg);
        -moz-transform: rotate(1822deg);
        transform: rotate(1822deg);

    }
}